.book-item-con{
	display: flex;
	width:400px;
	padding:15px;
	border:1px solid #d8d4d4;
	border-radius: 16px;
}
.book-item-con:hover{
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
	transition: all 0.3s ease-in-out;
}
.book-item-con img{
	width:200px;
	object-fit: cover;
}
.book-info{
	text-align: left;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.book-title{
	font-weight: 700;
}
span{
	color: #666666;
	font-weight: normal;
}
p{
	margin:3px 0;
}
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #326273;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #326273;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}