.book-list-con{
	padding:20px;
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}
.search-input{
	border:1px solid #d8d4d4;
	border-radius: 12px;
	padding: 10px;
	width: 400px;
}
.search-con{
	display: flex;
	justify-content: center;
	margin: 10px;
}
.flex{
	display: flex;
}
.errorText{
	color: red;
}